<div class="row card-body border-bottom">
  <div class="col text-3">
    <%= link_to note.title, note_path(note) %>
  </div>
  <div class="col">
    <ul class="note_tags">
      <li class="me-1">タグ１</li>
      <li class="me-1">タグ２</li>
      <li class="me-1">タグ３</li>
    </ul>
  </div>
  <div class="col">
    作成日時:<%= note.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
  </div>
</div>
