<div class="col-md-8">
  <h1 class="text-center mb-5">ノートを新規作成</h1>

  <div class="card shadow-sm">
    <div class="card-body">
      <div class="text-secondary mb-5">
        ノートを新規作成した後に、内容を追記していくことができます。<br>
        まずはタイトルをつけてノートを作成してみましょう。
      </div>
      <%= bootstrap_form_with model: @note do |f| %>
        <%= f.text_field :title, maxlength: 50, help: 'タイトルは50文字まで入力できます。', placeholder: 'ここにタイトルを入力' %>
        <%= f.submit '作成する', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
