<footer class="footer">
  <div class="container-fluid text-center bg-dark text-light p-3">
    <ul class="d-flex justify-content-center footer-menu">
      <li><%= link_to '利用規約', '#', class: 'text-muted' %></li>
      <li><%= link_to 'プライバシーポリシー', '#', class: 'text-muted ms-3' %></li>
      <li><%= link_to 'お問い合わせ', '#', class: 'text-muted ms-3' %></li>
    </ul>
    <div class="text-muted">Copyright ©︎ miyaichi</div>
  </div>
</footer>
