<div class="col-md-6">
  <h1 class="text-center mb-5">マイページ</h1>
  <div class="card card-body">
    <p>ユーザー情報</p>
    <table class="table table-hover">
      <tbody>
        <tr>
          <th>名前</th>
          <td><%= @user.username %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
